.esummit-home{
    background-color: black;
    height: 100svh;
}
.glimpse_pic{
    width: 80%; /* Adjust width for responsiveness */
max-width: 300px; /* Restrict the maximum width */
position: absolute;
border: none;
width: 80%; /* Adjust width for responsiveness */
max-width: 300px; /* Restrict the maximum width */
}
.videoTag{
object-fit: cover;
width: 100%;

}
.Glimpse{
    background-color: #160402;
}
.glimpse-pic{
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 768px) {

    .glimpse_pic {
      width: 90%; /* Adjust title size */
      max-width: 250px; /* Restrict maximum width */
    }
  
  @media (max-width: 480px) {
  
  
    .glimpse_pic{
      width: 100%; /* Make title fully responsive */
      max-width: 200px; /* Restrict maximum width */
    }
  }
}