@font-face {
    font-family: Mont;
    src: url('../../../assets/Fonts/Montserrat-VariableFont_wght.ttf');
}
.main-content{
    height:100svh;
}

.main-box{
    height:100%;
    display: flex;
}

.main-text{
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: center;
}

.main-head{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-head h1{
    background: linear-gradient(89.28deg, #0057FF -1.17%, #FFFFFF 97.89%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 13vw;
    font-weight: 800;
    color:white;
    margin: auto;
}

.sub-text{
    width:100%;
   text-align: left; 
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.main-sub-text{
    color: white;
    font-size: 3vw;
    text-align: left;
}

.main-sub-text span{
    color: #0803FF;
}

.text{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
    margin-top: 3vh;
    font-size: 1.5vw;
    font-weight: 100;
}

.text h4{
    font-weight: 100;
    font: Mont;
}



