.contact-cont {
    height: 40svh;
    background-color: black;
    display: flex;
    color: white;
    justify-content: space-around;
    padding-right: 5vh;
}

.contact-section {
    width: 25rem;
    padding-top: 4%;
    margin-left: 9vh;
}

.contact-info {
    display: flex;
    align-items: center;
}

.contacts {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.link {
    display: flex;
    align-items: center;
}

@media (max-width:930px) {
    .contact-cont {
        flex-direction: column;
        height: 90svh;
        margin-bottom: 0;
    }
}

@media (max-width:610px) {

    .ecell-section p {
        font-size: 0.9rem;
    }

    .contact-section h1 {
        font-size: 1.8rem;
    }
}

@media (max-width:475px) {
    .contact-section {
        width: 75svw;
    }
}