.loading{
    position: absolute;
    height: 100svh;
    width:99vw;
    background-color: black;
    z-index: 1300;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:2vh;
}

.load{
    height:10vh;
    width:10vh;
}

@keyframes myAnim {
	0%,
	50%,
	100% {
		opacity: 1;
	}

	25%,
	75% {
		opacity: 0;
	}
}

.load img{
    width:100%;
    animation: myAnim 2s ease 0s infinite normal forwards;
}

.counter{
    position: absolute;
    font-family: Mont;
    color:white;    
    font-size: 60px;
    text-align: center;
    bottom: 0;
    z-index: 1400;
    font-weight: 600;
}

@media (max-width:680px) {
    .counter{
        font-size: 40px;
    }
}